body {
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2853&q=80);
}

.container {
    background-color: rgba(229, 226, 226, 0.26);        
}

.user-input {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
    background-color: rgb(224, 215, 196);
}

.lead {
    font-style: italic;
    font-size: 18px;
    color: #f0e6e6;    
}

span {
    font-weight: 700;
}

.time-am {
    background-color: #c89481;
    color: white;
    border-radius: 10px;
}

.time-pm {
    background-color: #70402f;
    color: white;
    border-radius: 10px;
}

.jumbotron {
    background-color: #703a28;
    text-align: center;
    color: white;
    border-bottom: 7px solid black;      
  }

.row {
    margin-bottom: 7px;
    border-radius: 10px;
}

.input {
    font-style: italic;
}

.data {
    font-style: italic;
    background-color:rgb(226, 225, 225);
    width: 900px;
}

.save {
    background-color: rgb(149, 52, 14);
    color: white;    
}

footer {
    text-align: center;
}
