.container {
    background-color: rgba(229, 226, 226, 0.26);    
}

.jumbotron {
    background-color:#4661a0;
    text-align: center;
    color: white;
    border-bottom: 7px solid black;      
  }

.row {
    margin-bottom: 7px;
    border-radius: 15px;
}

.input {
    font-style: italic;
}